h1, p, button, span {
    padding-block: 30px;
}
header {
        background-color: antiquewhite;

}
body {
    font-size: 40px;
    padding: 0;
}
button {
    width: 400px;
    height: 80px;
}
h1 {
    font-weight: 900;
    font-size: 80px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 60px;
    }
}